# Project exclude paths
/.gradle/
app/build/generated/not_namespaced_r_class_sources/debug/*
app/build/generated/source/buildConfig/debug/sample/BuildConfig.java
app/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
app/build/intermediates/apk_list/debug/mainApkListPersistenceDebug/apk-list.gson
app/build/intermediates/blame/res/debug/*
app/build/intermediates/compatible_screen_manifest/debug/createDebugCompatibleScreenManifests/out/output.json
app/build/intermediates/incremental/*
app/build/intermediates/javac/debug/*
app/build/intermediates/res/merged/debug/*
app/build/intermediates/res/*
app/build/intermediates/split_list/debug/*
app/build/intermediates/symbols/debug/R.txt
app/build/intermediates/transforms/*
app/build/kotlin/compileDebugKotlinAndroid/build-history.bin
app/build/kotlin/compileDebugKotlinAndroid/last-build.bin
app/build/kotlin/compileDebugKotlinAndroid/caches-jvm/*
app/build/outputs/apk/debug/*
app/build/outputs/logs/manifest-merger-debug-report.txt
app/build/tmp/kotlin-classes/debug/*
app/build/intermediates/blame/res/debug/multi-v2/values-v22.json
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BTMuQz6WMwVsM1Fuim2Eur2Qjh0=
*.iml
.gradle
/local.properties
.idea/libraries/*
.idea/modules/app/Android_IOS_KN.app.commonMain.iml
.idea/modules/app/Android_IOS_KN.app.commonTest.iml
.idea/modules/app/Android_IOS_KN.app.iosMain.iml
.idea/modules/app/Android_IOS_KN.app.iosTest.iml
.idea/modules/app/Android_IOS_KN.app.iml
/.idea/*
.DS_Store
app/build/*
/build
/captures
.externalNativeBuild
.cxx